@import url("https://fonts.googleapis.com/css2?family=Anton&family=Carter+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #efead8;
}

.navbar {
  display: flex;
  color: #648b74;
  font-weight: 500;
  justify-content: space-between;
  margin: auto;
  padding: 40px;
}

.navbar a {
  display: inline-block;
  color: #006e7f;
  font-size: 20px;
  text-decoration: none;
  font-weight: bolder;
}

#logo {
  font-size: 50px;
  padding: 5px;
  font-family: cursive;
}

.navbar div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 250px;
}

.navbar div a:hover {
  text-decoration: underline;
  font-weight: light;
  color: #6d8b74;
}

.flex-box {
  display: flex;
  align-items: center;
  padding: 40px;
  color: #648b74;
}

.flex-box img {
  width: 40%;
  border: 1px solid #648b74;
  border-radius: 50%;
}

.tag {
  font-size: 40px;
  padding: 10px;
}

.tag-sub {
  font-size: 20px;
  padding: 10px;
  text-align: justify;
}

.buttons {
  padding: 10px;
}

button {
  text-decoration: none;
  background-color: #d0c9c0;
  color: #006e7f;
  border: none;
  padding: 15px;
  border-radius: 20px;
  font-size: 20px;
  box-shadow: 0 2px #999;
  margin: 5px;
}

button:hover {
  color: #648b74;
  background-color: #dfc8aa;
}

.flex-2-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.form {
  background-color: #dfc8aa;
  padding: 70px;
  border-radius: 30px;
}

.form h1 {
  text-align: center;
  color: #006e7f;
  margin-bottom: 20px;
}

input {
  margin-bottom: 10px;
  padding: 15px;
  width: 100%;
  border: 1px solid #999;
  background-color: #efead8;
  border-radius: 40px;
}

input[type="submit"] {
  color: white;
  background-color: lightgreen;
}

input:focus {
  outline: none;
  background-color: aliceblue;
}

input[type="submit"]:hover {
  background-color: greenyellow;
}

.footer {
  padding: 20px;
}
